@media screen and (min-width: $site__site-min-content-width) {
	.content-area {
		float: left;
		margin: 0 (-$size__site-content-margin-with-sidebar) 0 0;
		width: $size__site-main;
	}

	.site-main {
		margin: 0 $size__site-content-margin-with-sidebar 0 0;
	}

	.site-content .widget-area {
		margin-top: 30px;
		float: right;
		overflow: hidden;
		width: $size__site-sidebar;
	}
	@import "no-sidebar";
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

.widget-area {

	.tribe-events-list-widget {
		.tribe-events-list-widget-events {
			padding: 0;
		}

		.tribe-events-widget-link {
			a {
				font-size: 1rem;
				font-weight: normal;

				color: $color__link;
				text-decoration: none;
				&:visited {
					color: $color__link-visited;
				}
				&:hover,
				&:focus,
				&:active {
					color: $color__link-hover;
				}
				&:focus {
					outline: thin dotted;
				}
				&:hover,
				&:active {
					outline: 0;
					text-decoration: underline;
				}
			}
		}
	}

	.widget.widget_recent_entries {
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;

		}
	}

}