$color__scout-white: #fff;
$color__scout-black: #000;
$color__scout-yellow: #ffcd00;
$color__scout-orange: #ff8200;
$color__scout-red: #ba0c2f;
$color__scout-brown: #7c3a2d;
$color__scout-mauve: #AD1AAC;
$color__scout-purple: #4d2177;
$color__scout-blue: #005E86;
$color__scout-blue1: #003da5;
$color__scout-blue2: #002855;
$color__scout-blue3: #0095C8;
$color__scout-green: #84A40b;
$color__scout-green1: #004851;
$color__scout-green2: #00594F;
$color__scout-green3: #009A44;
$color__scout-grey: #84A40b;


$color__background-body: $color__scout-white;
$color__background-page: $color__scout-white;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__scout-purple;
$color__link-visited: $color__scout-purple;
$color__link-hover: $color__scout-purple;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;



