.site-branding {
    > a {
        float: left;
        
    }

    > header {
        float: left;
        > h1 {
            color: $color__scout-purple;
            margin-bottom: 0;
            > a {
                color: $color__scout-purple;
                text-decoration: none;

                &:visited, &:hover, &:link {
                    color: $color__scout-purple;
                }
            }
        }
        > p.site-description {
            font-size: 1.2em;
            color: $color__scout-orange;
            &::before {
                content: '(';
            }
            &::after {
                content: ')';
            }
            margin-top: 0;
            
        }
    }
}